__pycache__/
*.py[cod]
*.so
*.dylib
*.egg
*.egg-info/
.Python
.python-version
.env
.env.*
.venv/
venv/
dist/
build/
site/
.mypy_cache/
.pytest_cache/
ruff_cache/
.coverage
pytest.debug.log
.poetry/
.idea/
.vscode/
.DS_Store
services/api/.venv/
